{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF

tap "homebrew/cask-fonts"

brew "coreutils"
brew "fzf"
brew "gh"
brew "htop"
brew "jq"
brew "pipx"
brew "tmux"
brew "tree"

# Required for nvim
brew "lazygit"
brew "neovim"
brew "ripgrep"

cask "font-jetbrains-mono-nerd-font"
cask "karabiner-elements"
cask "miniforge"
cask "rectangle"

EOF

# As per their docs https://github.com/pypa/pipx#on-macos
pipx ensurepath
{{ end -}}
