{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF

tap "homebrew/cask-fonts"
tap "FelixKratz/formulae"

brew "coreutils"
brew "fzf"
brew "gh"
brew "htop"
brew "jq"
brew "pipx"
brew "tmux"
brew "tree"
brew "watch"

# From FelixKratz/formulae
brew "borders"

# Required for nvim
brew "lazygit"
brew "neovim"
brew "ripgrep"

# Tools
cask "font-jetbrains-mono-nerd-font"
cask "karabiner-elements"
cask "miniforge"
cask "nikitabobko/tap/aerospace"

EOF

# As per their docs https://github.com/pypa/pipx#on-macos
pipx ensurepath
{{ end -}}


# Disable window opening animations
defaults write -g NSAutomaticWindowAnimationsEnabled -bool false

# Make sure borders is started
brew services start borders

